<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Simple-Events</title>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel=stylesheet th:href="@{/css/main.css}" />
</head>
<body>
	<div th:insert="~{fragment :: header}"/>
	<div class="container col-md-8 form-box">
	<h4>Dados Básicos</h4>
		<form method="POST" action="/eventos/vaga/cadastrar">
			<div class="form-group">
				<label for="nome">Nome</label> <input type="text"
					class="form-control" name="nome">
			</div>
			<div class="form-group">
				<label for="descricao">Descrição</label> <input type="text"
					class="form-control" name="descricao">
			</div>
			<button type="submit" class="btn btn-primary">Cadastrar</button>
		</form>
		<h4>Vagas</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descrição</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vaga : ${vagas}">
				<td th:text="${vaga.nome}"></td>
				<td th:text="${vaga.descricao}"></td>
			</tr>
		</tbody>
	</table>
<div th:insert="~{fragment :: scripts}"/>
</body>
	</div>
	
</html>